body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

/* greeting */
.hidden {
    display: none !important;
}

#intro {
    width: 100%;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

#login-form label {
    display: block;
    font-size: 2em;
}

#login-form input {
    display: block;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black;
    width: 47%;
    text-align: center;
    font-size: 64px;
}

#login-form input:focus {
    outline: none;
}

#greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clock-hover {
    width: 100%;
}

#clock-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    font-size: 168px;
    margin: 0 20px 0 20px;
}

.hide {
    visibility: hidden;
}

#clock-container:hover #clock-timezone,
#clock-container:hover #clock-format {
    visibility: visible;
}


#name-greeting {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting {
    font-size: 54px;
    margin: 0 20px 0 20px;
}

#name-greeting:hover #greeting-option {
    visibility: visible;
}

/* clockOption */
.clock-option-wrap {
    position: absolute;
    top: 45%;
    right: 25.5%;
    width: 150px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
}

.clock-option-wrap.open-menu {
    max-height: 400px;
}

.clock-option {
    background: #000;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.clock-option hr {
    width: 100%;
    background: #ccc;
    margin: 10px 0 10px;
}

.clock-option p {
    margin: 0 auto;
    padding: 3px;
}

.toggleOff {
    background: #dbdad8;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.toggleBoxOff {
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background: #6666;
    margin: 2px;
}

.toggleOn {
    background: #7ed957;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleBoxOn {
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    margin: 2px;
}

/* quotes */
#quotes {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#quotes span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* todo */
#todo-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px 0;
    max-width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li.completed span {
    text-decoration: line-through;
}

li.completed::before {
    border-color: #8bc34a;
}

.circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.btn-delete {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    padding: 0;
}

.btn-delete:hover {
    color: #f00;
}

/* weather */
#weather {
    position: absolute;
    right: 0;
    margin: 20px 20px 0 0;
}